@import "tailwindcss";
@import "./theme.css";
@import "./markdown.css";
@import "./button.css";

@layer base {
  :root {
    color-scheme: light dark;
  }
  
  :root[data-scheme='light'] {
    color-scheme: light;
  }
  :root[data-scheme='dark'] {
    color-scheme: dark;
  }
}